## Preprocessing

In [312]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import numpy as np


# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [313]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [314]:
print(application_df.nunique().to_string())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2

In [315]:
# Determine the number of unique values in each column.
print(application_df.nunique().to_string())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2

In [316]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
print(application_df["APPLICATION_TYPE"].value_counts())

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [317]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Get the value counts of APPLICATION_TYPE
app_type_counts = application_df["APPLICATION_TYPE"].value_counts()

# Choose a cutoff value (adjust as needed)
cutoff_value = 500

application_types_to_replace = app_type_counts[app_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
application_df["APPLICATION_TYPE"] = application_df["APPLICATION_TYPE"].replace(application_types_to_replace, "Other")


# Check to make sure replacement was successful
# application_df['APPLICATION_TYPE'].value_counts()
print(application_df["APPLICATION_TYPE"].value_counts())

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [318]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
print(application_df["CLASSIFICATION"].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [319]:
# You may find it helpful to look at CLASSIFICATION value counts >1
print(application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() > 1])

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1256        2
C1246        2
C1234        2
C1267        2
Name: count, dtype: int64

In [320]:
# Get value counts of CLASSIFICATION
class_counts = application_df["CLASSIFICATION"].value_counts()

# Choose a cutoff value (adjust as needed)
cutoff_value = 1000  # Example: Replace all types with counts < 1000

# Step 3: Identify classifications to be replaced
classifications_to_replace = class_counts[class_counts < cutoff_value].index.tolist()

# Replace values in the DataFrame
application_df["CLASSIFICATION"] = application_df["CLASSIFICATION"].replace(classifications_to_replace, "Other")

# Check the updated counts
print(application_df["CLASSIFICATION"].value_counts().to_string())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883

In [321]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Get value counts of CLASSIFICATION
class_counts = application_df["CLASSIFICATION"].value_counts()

# Choose a cutoff value (adjust as needed)
cutoff_value = 1000  # Example: Replace all types with counts < 1000

# Identify classifications to be replaced
classifications_to_replace = class_counts[class_counts < cutoff_value].index.tolist()

# Replace values in the DataFrame
application_df["CLASSIFICATION"] = application_df["CLASSIFICATION"].replace(classifications_to_replace, "Other")

# Check the updated counts
print(application_df["CLASSIFICATION"].value_counts().to_string())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883

In [322]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, drop_first=True)
print(application_df.head())  # To see the first few rows
print(application_df.shape)  # To check the number of new columns

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  \
0       1     5000              1                  True                 False
1       1   108590              1                 False                 False
2       1     5000              0                 False                 False
3       1     6692              1                 False                 False
4       1   142590              1                 False                 False

   APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  \
0                False                False                False
1                 True                False                False
2                False                False                 True
3                 True                False                False
4                 True                False                False

   APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  ...  ORGANIZATION_Trust  \
0                False                False  ...               False
1                False                False  ...               False
2                False                False  ...               False
3                False                False  ...                True
4                False                False  ...                True

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0              False                   False                     False
1               True                   False                     False
2              False                   False                     False
3              False                    True                     False
4              False                   False                      True

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0               False             False                   False
1               False             False                   False
2               False             False                   False
3               False             False                   False
4               False             False                   False

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_Y
0            False              False                     False
1            False              False                     False
2            False              False                     False
3            False              False                     False
4            False              False                     False

[5 rows x 37 columns]
(34299, 37)

In [323]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=["IS_SUCCESSFUL"])
y = application_df["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [324]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [325]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=36, activation="relu", input_dim=X_train.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=18, activation="relu"))

# Third hidden layer 
# nn.add(tf.keras.layers.Dense(units=12, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

c:\Users\mnmat\anaconda3\envs\tf-env\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_16"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_52 (Dense)                │ (None, 36)             │         1,332 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_53 (Dense)                │ (None, 18)             │           666 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_54 (Dense)                │ (None, 1)              │            19 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,017 (7.88 KB)

 Trainable params: 2,017 (7.88 KB)

 Non-trainable params: 0 (0.00 B)

In [326]:
# Compile the model
# nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"]) ---Slowed Adam down
optimizer = tf.keras.optimizers.Adam(learning_rate=0.0001)
nn.compile(loss="binary_crossentropy", optimizer=optimizer, metrics=["accuracy"])

In [327]:
# Convert X_train and y_train to float32 (required by TensorFlow)
X_train = np.array(X_train).astype("float32")
X_test = np.array(X_test).astype("float32")
y_train = np.array(y_train).astype("int32")  # For classification, use int32
y_test = np.array(y_test).astype("int32")

In [328]:
# Testing to see the Linear Regression score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression()
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)

print("Logistic Regression Accuracy:", accuracy_score(y_test, y_pred))

Logistic Regression Accuracy: 0.7173469387755103

In [329]:
# Train the model --- Tried 50 first
from tensorflow.keras.callbacks import EarlyStopping
early_stop = EarlyStopping(monitor="val_loss", patience=10, restore_best_weights=True)
nn.fit(X_train_scaled, y_train, epochs=200, batch_size=32, validation_data=(X_test_scaled, y_test), callbacks=[early_stop])

Epoch 1/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.5581 - loss: 0.7030 - val_accuracy: 0.6829 - val_loss: 0.6210
Epoch 2/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.6875 - loss: 0.6108 - val_accuracy: 0.7125 - val_loss: 0.5859
Epoch 3/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7233 - loss: 0.5729 - val_accuracy: 0.7192 - val_loss: 0.5731
Epoch 4/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7194 - loss: 0.5672 - val_accuracy: 0.7241 - val_loss: 0.5677
Epoch 5/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7245 - loss: 0.5611 - val_accuracy: 0.7245 - val_loss: 0.5651
Epoch 6/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7238 - loss: 0.5641 - val_accuracy: 0.7239 - val_loss: 0.5636
Epoch 7/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7282 - loss: 0.5560 - val_accuracy: 0.7239 - val_loss: 0.5624
Epoch 8/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7308 - loss: 0.5530 - val_accuracy: 0.7255 - val_loss: 0.5611
Epoch 9/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7322 - loss: 0.5523 - val_accuracy: 0.7255 - val_loss: 0.5603
Epoch 10/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7290 - loss: 0.5540 - val_accuracy: 0.7274 - val_loss: 0.5599
Epoch 11/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7269 - loss: 0.5563 - val_accuracy: 0.7236 - val_loss: 0.5597
Epoch 12/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7323 - loss: 0.5489 - val_accuracy: 0.7236 - val_loss: 0.5590
Epoch 13/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7330 - loss: 0.5458 - val_accuracy: 0.7274 - val_loss: 0.5585
Epoch 14/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7290 - loss: 0.5498 - val_accuracy: 0.7271 - val_loss: 0.5582
Epoch 15/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7307 - loss: 0.5522 - val_accuracy: 0.7268 - val_loss: 0.5581
Epoch 16/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7348 - loss: 0.5455 - val_accuracy: 0.7251 - val_loss: 0.5576
Epoch 17/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7332 - loss: 0.5467 - val_accuracy: 0.7246 - val_loss: 0.5573
Epoch 18/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7336 - loss: 0.5465 - val_accuracy: 0.7252 - val_loss: 0.5575
Epoch 19/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7360 - loss: 0.5434 - val_accuracy: 0.7252 - val_loss: 0.5575
Epoch 20/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7333 - loss: 0.5480 - val_accuracy: 0.7280 - val_loss: 0.5571
Epoch 21/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7314 - loss: 0.5478 - val_accuracy: 0.7287 - val_loss: 0.5565
Epoch 22/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7309 - loss: 0.5490 - val_accuracy: 0.7284 - val_loss: 0.5566
Epoch 23/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7334 - loss: 0.5451 - val_accuracy: 0.7287 - val_loss: 0.5565
Epoch 24/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7352 - loss: 0.5439 - val_accuracy: 0.7281 - val_loss: 0.5565
Epoch 25/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7308 - loss: 0.5488 - val_accuracy: 0.7278 - val_loss: 0.5565
Epoch 26/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7322 - loss: 0.5469 - val_accuracy: 0.7293 - val_loss: 0.5563
Epoch 27/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7340 - loss: 0.5463 - val_accuracy: 0.7284 - val_loss: 0.5559
Epoch 28/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7402 - loss: 0.5383 - val_accuracy: 0.7284 - val_loss: 0.5562
Epoch 29/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7323 - loss: 0.5465 - val_accuracy: 0.7290 - val_loss: 0.5558
Epoch 30/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7356 - loss: 0.5397 - val_accuracy: 0.7286 - val_loss: 0.5558
Epoch 31/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7339 - loss: 0.5451 - val_accuracy: 0.7268 - val_loss: 0.5558
Epoch 32/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7341 - loss: 0.5454 - val_accuracy: 0.7286 - val_loss: 0.5556
Epoch 33/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7350 - loss: 0.5441 - val_accuracy: 0.7297 - val_loss: 0.5555
Epoch 34/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7317 - loss: 0.5466 - val_accuracy: 0.7268 - val_loss: 0.5558
Epoch 35/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7329 - loss: 0.5451 - val_accuracy: 0.7297 - val_loss: 0.5552
Epoch 36/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7327 - loss: 0.5468 - val_accuracy: 0.7278 - val_loss: 0.5557
Epoch 37/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7331 - loss: 0.5463 - val_accuracy: 0.7276 - val_loss: 0.5553
Epoch 38/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7351 - loss: 0.5429 - val_accuracy: 0.7278 - val_loss: 0.5556
Epoch 39/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7316 - loss: 0.5457 - val_accuracy: 0.7308 - val_loss: 0.5551
Epoch 40/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7360 - loss: 0.5426 - val_accuracy: 0.7278 - val_loss: 0.5555
Epoch 41/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7346 - loss: 0.5452 - val_accuracy: 0.7309 - val_loss: 0.5550
Epoch 42/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7340 - loss: 0.5446 - val_accuracy: 0.7299 - val_loss: 0.5552
Epoch 43/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7364 - loss: 0.5426 - val_accuracy: 0.7294 - val_loss: 0.5554
Epoch 44/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7384 - loss: 0.5409 - val_accuracy: 0.7305 - val_loss: 0.5551
Epoch 45/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7365 - loss: 0.5403 - val_accuracy: 0.7297 - val_loss: 0.5550
Epoch 46/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7363 - loss: 0.5403 - val_accuracy: 0.7292 - val_loss: 0.5552
Epoch 47/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7346 - loss: 0.5418 - val_accuracy: 0.7281 - val_loss: 0.5556
Epoch 48/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7340 - loss: 0.5434 - val_accuracy: 0.7252 - val_loss: 0.5553
Epoch 49/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7329 - loss: 0.5449 - val_accuracy: 0.7292 - val_loss: 0.5550
Epoch 50/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7361 - loss: 0.5399 - val_accuracy: 0.7294 - val_loss: 0.5551
Epoch 51/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7315 - loss: 0.5477 - val_accuracy: 0.7281 - val_loss: 0.5551
Epoch 52/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7382 - loss: 0.5413 - val_accuracy: 0.7296 - val_loss: 0.5549
Epoch 53/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7387 - loss: 0.5395 - val_accuracy: 0.7296 - val_loss: 0.5548
Epoch 54/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7336 - loss: 0.5442 - val_accuracy: 0.7281 - val_loss: 0.5554
Epoch 55/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7344 - loss: 0.5399 - val_accuracy: 0.7299 - val_loss: 0.5552
Epoch 56/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7371 - loss: 0.5402 - val_accuracy: 0.7290 - val_loss: 0.5547
Epoch 57/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7400 - loss: 0.5384 - val_accuracy: 0.7294 - val_loss: 0.5549
Epoch 58/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7398 - loss: 0.5381 - val_accuracy: 0.7296 - val_loss: 0.5551
Epoch 59/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7375 - loss: 0.5406 - val_accuracy: 0.7238 - val_loss: 0.5552
Epoch 60/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7384 - loss: 0.5391 - val_accuracy: 0.7297 - val_loss: 0.5550
Epoch 61/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7340 - loss: 0.5453 - val_accuracy: 0.7286 - val_loss: 0.5552
Epoch 62/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7335 - loss: 0.5432 - val_accuracy: 0.7286 - val_loss: 0.5551
Epoch 63/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7339 - loss: 0.5434 - val_accuracy: 0.7278 - val_loss: 0.5555
Epoch 64/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7321 - loss: 0.5443 - val_accuracy: 0.7292 - val_loss: 0.5548
Epoch 65/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7339 - loss: 0.5400 - val_accuracy: 0.7287 - val_loss: 0.5552
Epoch 66/200
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7327 - loss: 0.5447 - val_accuracy: 0.7284 - val_loss: 0.5550

In [330]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 1ms/step - accuracy: 0.7290 - loss: 0.5547
Loss: 0.5547442436218262, Accuracy: 0.7290087342262268

In [ ]:
# Evaluate the model using the test data -- Delete this one later!!!!!!!! Used for comparison -------------------------------------------
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE